<form [formGroup]="fm"
      *ngIf="fm"
      (submit)='$event.stopPropagation()'>
    <div class="card">
        <div class="card-header">
            <strong>{{ 'settings.email' | translate }}</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label>{{ 'settings.local' | translate }}</label>
                        <input type="text"
                               autocomplete="off"
                               class="form-control"
                               name="local"
                               formControlName="local">
                    </div>
                    <div class="form-group">
                        <label>{{ 'settings.protocol' | translate }}</label>
                        <input type="text"
                               autocomplete="off"
                               class="form-control"
                               name="protocol"
                               formControlName="protocol">
                    </div>
                    <div class="form-group">
                        <label>{{ 'settings.port' | translate }}</label>
                        <input type="text"
                               autocomplete="off"
                               class="form-control"
                               name="port"
                               formControlName="port">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">

                    <div class="form-group">
                        <label>{{ 'settings.mail' | translate }}</label>
                        <input type="text"
                               autocomplete="off"
                               class="form-control"
                               name="mail"
                               formControlName="mail">
                        <small *ngIf="!fm.get('mail').valid && fm.get('mail').touched"
                               style="color:red">{{ 'message.email' | translate }}</small>
                    </div>
                    <div class="form-group">
                        <label>{{ 'settings.password' | translate }}</label>
                        <input autocomplete="off"
                               type="password"
                               class="form-control"
                               name="password"
                               formControlName="password">
                        <small *ngIf="!fm.get('password').valid && fm.get('password').touched"
                               style="color:red">{{ 'message.required' | translate }}</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button"
                    (click)="onSubmit()"
                    [disabled]="!fm.valid"
                    class="btn btn-success float-right">{{ 'btn.save' | translate }}</button>

        </div>
    </div>
</form>