<div class="place bg-light">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-page">
                        <h2>{{ data.name }}</h2>
                        <nav aria-label="breadcrumb" *ngIf="data.name && data.name.length > 0">
                            <ol class="breadcrumb bg-transparent border-0 m-0 p-0">
                                <li class="breadcrumb-item " aria-current="page">
                                    <a [routerLink]="['/']" routerLinkActive="router-link-active">
                                        {{ 'lblHome' | translate }}
                                    </a>
                                </li>
                                <li class="breadcrumb-item " aria-current="page"
                                    *ngIf="data.parent_name && data.parent_name != ''">
                                    <a [routerLink]="['/']" routerLinkActive="router-link-active">
                                        {{ data.parent_name }}
                                    </a>
                                </li>
                                <li class="breadcrumb-item active " aria-current="page">{{ data.name }}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="place">
    <div class="container-main">
        <div class="container-fluid">
            <div class="page">
                <div class="detail-page" id="contentDetail" *ngIf="data.detail && data.detail.length > 0"
                    [innerHTML]="data.detail | sanitizeHtml">
                </div>
            </div>
        </div>
    </div>
</div>