@import 'src/scss/abstracts/colors';

.title-border h5 {
    padding-right: 20px;
    z-index: 2;
    color: $colorSecondary;
    position: relative;
    background: whitesmoke;
}

.title-border::after {
    background: #e1e1e1 none repeat scroll 0 0;
    content: '';
    height: 1px;
    position: absolute;
    top: 48%;
    width: 100%;
    right: 0;
    z-index: 1;
}

.category {
    list-style: none;
    padding: 0;
}

.category a {
    color: #212529;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.category a:hover,
.category li:hover i {
    color: var(--color-primary);
}

.category i {
    color: #8e8e8e;
    font-size: 14px;
}

.category li:hover {
    margin-left: 5px;
    transition: 0.3s all;
}

.icon-search {
    position: absolute;
    right: 33px;
    z-index: 3;
    top: 33px;
    color: $colorPrimary;
}

.input-search {
    height: 50px;
    padding: 5px 55px 5px 20px;
}
