/* Reset */
@use '../abstracts/colors';
@use '../base/typography';

:root {
    --color-primary: #{colors.$colorPrimary};
    --color-secondary: #{colors.$colorSecondary};
}

body {
    // font-family: $font-primary;
    // width: 100%;
    // overflow-x: hidden;
    // background-color: whitesmoke;
    // font-size: 15px;
    // font-family: 'Roboto', sans-serif;

    max-width: 1920px;
    margin: 0 auto;
    font-family: typography.$font-primary;
    // color: colors.$color-body;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

$w-scrollbar: 8px;
::-webkit-scrollbar {
    width: $w-scrollbar;
    height: 6px;
    &-thumb {
        border-radius: $w-scrollbar;
        background-color: #c1c1c1;
    }
    &-track {
        background-color: #f1f1f1;
    }
}

img {
    transform: translateZ(0);
}

.container-main {
    margin: auto;
    max-width: 1170px;
}

.cursor-pointer {
    cursor: pointer;
}

.grid-center {
    display: grid;
    place-items: center;
}

#page-detail {
    overflow: hidden;
    *:not(img, iframe, [class^='fa']) {
        font-family: typography.$font-primary !important;
    }
    img,
    iframe {
        max-width: 100%;
    }
}
