<div class="slide" *ngIf="slide.data && slide.data.length > 0">
    <owl-carousel-o [options]="slideOptions">
        <ng-container *ngFor="let item of slide.data">
            <ng-template carouselSlide>
                <a [href]="item.link" target="_blank" rel="noopener noreferrer" class="d-inline-block w-100 h-100"
                    *ngIf="item.images?.length">
                    <img height="100%" [alt]="item.name" [lazyLoad]="item.images" defaultImage="https://picsum.photos/1170/450" />
                    <!-- <img height="100%" [alt]="item.name" [lazyLoad]="item.images" defaultImage="https://via.placeholder.com/1170x450" /> -->
                </a>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>