.slide {
    &-bg {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &-content {
        height: var(--height);
    }

    &-description {
        background-color: rgb(0, 0, 0, 0.33);
    }

    &-title {
        font-size: 2.625rem;
        background-color: rgb(0, 0, 0, 0.33);
    }

    &-btn {
        &:hover {
            color: #333 !important;
            background-color: transparent;
        }

        > i {
            font-size: 1.25rem;
        }
    }
}

.slide {
    .active &-description {
        animation: slideUp 0.67s ease-out;
    }

    .active &-title {
        animation: slideUp 1s ease-out;
    }

    .active &-btn {
        animation: slideDown 1.67s ease-out;
    }

    .owl-nav {
        .owl-prev,
        .owl-next {
            opacity: 0.2;
            margin: 0 4.6875rem !important;
        }

        .owl-prev:hover,
        .owl-next:hover {
            opacity: 1;
        }
    }

    .owl-dots {
        --dotSize: 1rem;
        right: 4.6875rem;
        bottom: 1.5rem !important;

        span {
            background-color: #fff !important;
            transition: 0.25s ease-out !important;
        }

        .active > span {
            width: var(--dotSize);
            height: var(--dotSize);
            background-color: transparent !important;
        }
    }
}
