<div class="container-main">
    <div class="container-fluid">
        <app-slide></app-slide>
    </div>
</div>

<div class="container-main">
    <div class="container-fluid">
        <div class="text-center mx-auto py-4">
            <h5 class="h6 text-danger">
                {{'company.name' | translate}}
            </h5>
            <h3>
                {{order.title}}
            </h3>
            <p class="mb-0">
                {{order.description}}
            </p>
        </div>

        <div class="row">
            <div *ngFor="let item of order.list | slice:0:6"
                 class="col-6 col-lg-4">
                <div class="card">
                    <img lazyLoad="{{item.image}}"
                         class="card-img-top"
                         alt="{{item.name}}"
                         defaultImage="https://picsum.photos/360/240">
                    <div class="card-body">
                        <p class="card-text">
                            {{item.name}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="banner bg-white section-inner">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6"
                     *ngIf="slide.data[0]">
                    <a [href]="[slide.data[0].link]"
                       target="_blank">
                        <img class="img-fluid"
                             [defaultImage]="'https://picsum.photos/550/300'"
                             [lazyLoad]="slide.data[0].images"
                             [title]="slide.data[0].name"
                             [alt]="slide.data[0].name">
                    </a>
                </div>
                <div class="col-md-6 mt-2 mt-md-0"
                     *ngIf="slide.data[1]">
                    <a [href]="[slide.data[1].link]"
                       target="_blank">
                        <img class="img-fluid"
                             [defaultImage]="'https://picsum.photos/551/300'"
                             [lazyLoad]="slide.data[1].images"
                             [title]="slide.data[1].name"
                             [alt]="slide.data[1].name">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="aboutUs.data.name && aboutUs.data.name.length > 0"
     class="about-us position-relative section-inner">
    <div class="container-main">
        <div class="container-fluid">
            <div class="title position-relative pb-4">
                <h2 class="font-weight-bold">
                    {{ aboutUs.data.name }}
                </h2>
                <div>{{ aboutUs.data.title }}</div>
                <div class="bottom-dots">
                    <span class="dot line-dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-8 order-1 order-md-0">
                    <div style="white-space: pre-line">{{ aboutUs.data.description }}</div>
                    <a [routerLink]="[ '/' + aboutUs.data.link ]">
                        <div
                             class="view-more mt-md-5 mt-4 text-white d-inline-block text-uppercase position-relative font-weight-bold">
                            {{ 'FEbtn.viewMore' | translate }}
                            <i class="fas fa-angle-double-right"></i>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 order-0 order-md-1">
                    <div class="text-center mb-3 mb-md-0">
                        <img class="img-fluid"
                             [defaultImage]="aboutUs.data.images ? aboutUs.data.images : '../../../../assets/img/default_product.png'"
                             [lazyLoad]="aboutUs.data.images"
                             [title]="aboutUs.data.name"
                             [alt]="aboutUs.data.name">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product bg-white section-inner">
    <div class="container-main">
        <div class="container-fluid">
            <div class="text-center mx-auto py-4">
                <h5 class="h6 text-danger">
                    {{'company.name' | translate}}
                </h5>
                <h3>
                    {{product.title}}
                </h3>
                <p class="mb-0">
                    {{product.description}}
                </p>
            </div>
            <div class="row bg-light px-2 py-3 mx-0">
                <div class="col-6 col-md-3 col-xl-2dot4 px-2 mb-3"
                     *ngFor="let item of product.list | slice:0:20">
                    <app-box-product [item]="item"></app-box-product>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="banner bg-white section-inner">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6"
                     *ngIf="slide.data[0]">
                    <a [href]="[slide.data[0].link]"
                       target="_blank">
                        <img class="img-fluid"
                             [defaultImage]="'https://picsum.photos/552/300'"
                             [lazyLoad]="slide.data[0].images"
                             [title]="slide.data[0].name"
                             [alt]="slide.data[0].name">
                    </a>
                </div>
                <div class="col-md-6 mt-2 mt-md-0"
                     *ngIf="slide.data[1]">
                    <a [href]="[slide.data[1].link]"
                       target="_blank">
                        <img class="img-fluid"
                             [defaultImage]="'https://picsum.photos/553/300'"
                             [lazyLoad]="slide.data[1].images"
                             [title]="slide.data[1].name"
                             [alt]="slide.data[1].name">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content section-inner bg-light">
    <div class="container-main">
        <div class="container-fluid">
            <!-- <div class="row align-items-end">
                <div class="col-md-4">
                    <div class="col-md-12 text-right text-uppercase">
                        <p class="font-weight-bold">{{content.data.name}}</p>
                        <h3 class="color-primary">{{ content.data.title }}</h3>
                    </div>
                </div>
                <div class="col-md-8 text-right">
                    <div class="btn-more d-inline-flex align-items-baseline mr-3">
                        <a [routerLink]="content.data.link"
                           class="btn bg-transparent color-primary pr-2">
                            {{ 'FEbtn.more' | translate }}
                        </a>
                        <i class="fas fa-arrow-right color-primary"></i>
                    </div>
                </div>
            </div> -->
            <div class="text-center mx-auto py-4">
                <h5 class="h6 text-danger">
                    {{'company.name' | translate}}
                </h5>
                <h3>
                    {{content.data.title}}
                </h3>
                <p class="mb-0">
                    {{content.data.description}}
                </p>
            </div>
            <div class="row pt-4">
                <div class="col-md-6 col-lg-3 px-md-3 mb-3 mb-md-4"
                     *ngFor="let item of content.data.list">
                    <app-box-content [item]="item"></app-box-content>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="banner section-inner">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6"
                     *ngIf="slide.data[2]">
                    <a [href]="[slide.data[2].link]"
                       target="_blank">
                        <img class="img-fluid"
                             [defaultImage]="'https://picsum.photos/554/300'"
                             [lazyLoad]="slide.data[2].images"
                             [title]="slide.data[2].name"
                             [alt]="slide.data[2].name">
                    </a>
                </div>
                <div class="col-md-6 mt-2 mt-md-0"
                     *ngIf="slide.data[3]">
                    <a [href]="[slide.data[3].link]"
                       target="_blank">
                        <img class="img-fluid"
                             [defaultImage]="'https://picsum.photos/555/300'"
                             [lazyLoad]="slide.data[3].images"
                             [title]="slide.data[3].name"
                             [alt]="slide.data[3].name">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>