@mixin sub-menu($width: 1140px, $left: -386.5%, $height: unquote(''), $min-width: unquote('')) {
    position: absolute;
    top: 70px;
    // right: 0;
    left: $left;
    height: $height;
    box-shadow: 0 9px 14px rgb(0 0 0 / 25%);
    background-color: #fff;
    z-index: 999;
    width: $width;
    min-width: $min-width;
    opacity: 0;
    transition: 0.25s;

    visibility: hidden;
}

.menu {
    &__item:hover .sub-menu,
    &__item:hover &-type-2 {
        visibility: visible;
        opacity: 1;
    }

    &-type-2 {
        @include sub-menu(unquote(''), 1rem, unquote(''), 250px);

        &__item {
            margin-bottom: 1rem;
        }

        &__link {
            color: #666;
            transition: 0.2s;

            &:hover {
                transform: translateX(0.8rem);

                &::after {
                    opacity: 1;
                }
            }

            &::after {
                content: '';
                position: absolute;
                left: -1.6rem;
                top: 50%;
                transform: translateY(-50%);
                width: 1rem;
                height: 1px;
                background-color: var(--color-primary);
                transform: translateZ(0);
                opacity: 0;
            }
        }
    }
}

.sub-menu {
    @include sub-menu();
}

.sub-menu #sub-menu-1 {
    padding: 10px 0;
    width: 270px;
    height: 100%;

    list-style: none;

    color: #fff;
    background-color: var(--color-primary);

    > li:focus {
        outline: unset;
    }
}

#sub-menu-2 {
    display: none;

    padding: 22.5px 15px;
    width: calc(100% - 270px);
    height: 100%;

    position: absolute;
    top: 0;
    left: 270px;

    overflow: hidden;
}

.sub-menu-3 {
    width: 295px;
    overflow: hidden;
    margin-bottom: 0.5rem;

    > .nav-link {
        font-size: 14px;
    }
}

li .sub-menu li:hover #sub-menu-2,
.active:first-child #sub-menu-2 {
    display: block !important;
}

li .sub-menu li #sub-menu-2 span {
    color: #666666;
}

.active .titleAcitve,
li .sub-menu li:hover .titleAcitve {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.sub-menu-3:hover span {
    color: var(--color-primary) !important;
}

.active div:after,
li .sub-menu #sub-menu-1 li:hover div:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 9px solid #fff;
}

.text__hidden {
    -webkit-line-clamp: 3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
