<div class="menu">
    <nav class="navbar navbar-expand-md p-0">
        <ul class="navbar-nav w-100 align-items-center"
            *ngIf="menu && menu.length > 0">
            <li class="position-relative menu__item d-flex h-100 nav-item align-items-center"
                *ngFor="let item of menu">
                <a class="nav-link cursor-pointer px-3 py-0"
                   [routerLink]="item.href"
                    routerLinkActive="is--active" >
                    <div class="align-items-center d-flex text-dark">
                        <span class="text-uppercase text-nowrap"
                              style="font-size:14px;font-weight: 500;" routerLinkActive="is--active">
                            <!-- {{ item.name.charAt(0).toUpperCase() + item.name.slice(1).toLowerCase()}} -->
                            {{item.name}}
                        </span>
                        <i class="fas fa-angle-down ml-2 text-dark"
                           *ngIf="(item.data.length > 0)"></i>
                    </div>
                </a>
                <!-- <div id="sub-menu" class="sub-menu" *ngIf="item.code?.length">
                    <ul [id]="'sub-menu-' + item.level">
                        <li class="text-right" *ngFor="let row of item.data"
                            [class.active]="+item.data[0].id === +row.id">
                            <div class="px-4 position-relative" style="padding-top: 6px; padding-bottom: 6px;">
                                <a class="titleAcitve text-white text-decoration-none"
                                    [routerLink]="row.parent_link + '/' + row.href"
                                    style="white-space: nowrap;">
                                    {{ row.name }}
                                </a>
                            </div>
                            <div class="text-left bg-white" [id]="'sub-menu-' + row.level">
                                <div class="px-3 d-inline-block" [ngClass]="'sub-menu-' + r.level"
                                    *ngFor="let r of row.data">
                                    <a class="nav-link pt-0 pb-0" [routerLink]="item.link + '/' + r.href">
                                        <span class="font-weight-bold text-truncate d-block">
                                            {{ r.name }}
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div> -->

                <!-- <ng-template [ngIf]="!item.code?.length">
                    <ul *ngIf="item.data?.length" class="menu-type-2 list-unstyled px-4 py-3">
                        <li *ngFor="let row of item.data; last as last" [class.mb-0]="last"
                            class="bg-white menu-type-2__item">
                            <a [routerLink]="row.parent_link + '/' + row.href"
                                class="menu-type-2__link position-relative d-block text-decoration-none text-nowrap color-primary--hover">
                                {{ row.name }}
                            </a>
                        </li>
                    </ul>
                </ng-template> -->
            </li>
        </ul>
    </nav>
</div>