/* Colors rules */

$colorPrimary: #004aad !important;
// $colorPrimary: #3f76e5 !important;
$colorSecondary: #ffde59;
$colorWhite: #fff;
// $colorText: #525252;
// $colorHeaderIcon: #479cf6;
// $bgFooter: #010f27;
// $borderPrimary: #cfcfcf;

.color-primary {
    color: $colorPrimary;
}

.bg--primary {
    background-color: $colorPrimary;
}

.border--primary {
    border-color: $colorPrimary;
}

.bg--secondary {
    background-color: $colorSecondary;
}

.color-primary--hover:hover {
    color: $colorPrimary;
}

.color-secondary {
    color: $colorSecondary;
}

// .color-text {
//     color: $colorText;
// }

.is--active {
    color: $colorPrimary;
}

// $bg: #f8f8f8;
// $border-primary: #ddd;
// $box-shadow: 0 1px 0 rgb(0 0 0 / 25%);
// $link: #1264a3;
// $text: #1d1c1d;
// $text-secondary: #616061;
// $icon: #1d9bd1;
// $shadow-nav: 0 1px 4px rgb(0 0 0 / 15%);
// $hover-shadow: inset 0 0 0 1px rgb(0 0 0 / 30%), 0 1px 4px rgb(0 0 0 / 20%);
// $shadow-btn:     box-shadow: inset 0 0 0 1px rgb(0 0 0 / 30%);
// $color-danger: #e01e5a;
// $colorWhite: #fff;
// $colorTextTitle: #3d5067;
// $colorTextDesc: #596a7d;
// $border-secondary: #e5e5e5;