/* Text Truncate */
$lines: 2, 3, 4, 5;
@each $line in $lines {
    %text-truncate-#{$line} {
        -webkit-line-clamp: $line;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
