<div class="place  bg-light">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-page">
                        <h2>{{ data.name }}</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb bg-transparent border-0 m-0 p-0"
                                *ngIf="data.name && data.name.length > 0">
                                <li class="breadcrumb-item " aria-current="page">
                                    <a [routerLink]="['/']" routerLinkActive="router-link-active">
                                        {{ 'lblHome' | translate }}
                                    </a>
                                </li>
                                <li class="breadcrumb-item " aria-current="page"
                                    *ngIf="data.parent_name && data.parent_name != ''">
                                    <a [routerLink]="['/']" routerLinkActive="router-link-active">
                                        {{ data.parent_name }}
                                    </a>
                                </li>
                                <li class="breadcrumb-item active " aria-current="page">{{ data.name }}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="show == -1">
    <div class="position-relative d-flex align-items-center justify-content-center pt-lg-5 pt-4 pb-lg-5 pb-4">
        <img src="../../../../assets/img/loading.gif" width="125px">
    </div>
</div>

<div *ngIf="show == 0 " class="align-items-center d-flex justify-content-center " style="height: 300px">
    <h4>{{ 'lblUpdating' | translate }}</h4>
</div>

<div class="place" *ngIf="show == 1">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 mb-2 mb-md-4" *ngFor="let item of cwstable.data">
                    <app-box-content [item]="item"></app-box-content>
                </div>
                <div class="col-12" *ngIf="cwstable.cached.length > Pagination.itemsPerPage">
                    <pagination class="d-flex justify-content-end" [totalItems]="cwstable.cached.length"
                        previousText="{{ 'FEbtn.previous' | translate }}" nextText="{{ 'FEbtn.next' | translate }}"
                        [itemsPerPage]="Pagination.itemsPerPage" [maxSize]="Pagination.maxSize"
                        (pageChanged)="Pagination.change($event)">
                    </pagination>
                </div>
            </div>
        </div>
    </div>
</div>