<div class="box-content bg-white">
    <a [routerLink]="'/' + (item.parent_links?.length ? (item.parent_links + '/' + item.parent_link + '/' + item.link) : (item.parent_link + '/' + item.link))"
        class="text-decoration-none text-dark">
        <div class="images position-relative">
            <img [defaultImage]="'https://picsum.photos/260/160'" [lazyLoad]="item.images"
                [title]="item.name" [alt]="item.name" width="100%" height="100%" style="object-fit: cover">

        </div>
    </a>
    <div class="content p-3 pt-2">
        <a [routerLink]="'/' + (item.parent_links?.length ? (item.parent_links + '/' + item.parent_link + '/' + item.link) : (item.parent_link + '/' + item.link))"
            class="text-decoration-none text-dark">
            <h4 class="mb-2" style="outline: none;">
                {{ item.name }}
            </h4>
        </a>

        <div class="blog-info d-flex align-items-center">
            <div class="d-inline-block mr-3">
                <small class="">
                    <i class="far fa-calendar-alt text-black-50 mr-1"></i>
                    <time>{{ item.maker_date |date:'dd-MM-yyyy' }}</time>
                </small>
            </div>
            <div class="d-inline-block">
                <small class="">
                    <i class="fas fa-street-view text-black-50 mr-1"></i>
                    {{ (item.views > 0) ? item.views : 0 }}
                </small>
            </div>
        </div>
        <div class="pt-2 description">
            {{ item.description }}
        </div>
    </div>
</div>