.box-content {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.box-content .images {
    height: 157.5px;
    overflow: hidden;
}

.box-content:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

@keyframes shine {
    100% {
        left: 100%;
    }
}

.box-content:hover .images::before {
    animation: shine 1s;
}

.images::before {
    position: absolute;
    top: 0;
    left: -68%;
    z-index: 2;
    display: block;
    content: "";
    width: 30%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
}

.content {
    height: 178px;
}

.content h4 {
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.description {
    color: #454545;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}

@media (max-width: 415px) {
    .box-content:hover {
        box-shadow: 2px 2px 10px transparent;
    }
    .content {
        height: 155px;
    }
}
