@import 'src/scss/abstracts/responsive';
@import 'src/scss/abstracts/mixins';
@import 'src/scss/abstracts/placeholders';

.box-product {
    // border-radius: 8px;
    overflow: hidden;
    &:hover {
        border: 1px solid var(--color-primary) !important;
        .name > a {
            color: var(--color-primary) !important;
        }
        img {
            transform: scale(1.1);
        }
    }
    .name {
        // @extend %text-truncate-2;
        // height: 38px;
        // line-height: 1.2;
        font-weight: normal;
        font-size: 14px;
    }
}
.bg-contact {
    color: white;
    border-radius: 8px;
    padding: 5px 10px;
}
.price {
    height: 3.25rem;
    &-sale {
        font-size: 1.125rem;
    }
    &-default {
        text-decoration: line-through;
        font-size: 0.875rem;
        @include viewport-sm {
            font-size: calc(0.875rem - 1px);
        }
    }
}
.images {
    min-height: 207px;
    max-height: 100%;
    height: 207px;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;

    @include viewport-sm {
        min-height: 189px;
        height: 189px;
    }

    a {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    img {
        display: block;
        margin: 0 auto;
        transition: all 0.5s ease-in-out;
    }
}
