<div class="bg-white box-product border border-white rounded-0">
    <div class="images bg-light">
        <a href="{{item.link}}" target="_blank" rel="noopener noreferrer"
           class="nav-link p-0">
            <img [lazyLoad]="item.images"
                 [alt]="item.name"
                 [defaultImage]="'https://picsum.photos/210/210'"
                 width="100%"
                 height="100%" />
        </a>
    </div>
    <div class="px-3 pt-3 pb-4">
        <h4 class="name mb-0">
            <a href="{{item.link}}" target="_blank" rel="noopener noreferrer"
               class="nav-link p-0 text-body text-truncate">
                {{ item.name }}
            </a>
        </h4>
        <!-- <div class="mb-3 small text-muted">{{ item.views }} lượt xem</div>
        <div class="price mb-2">
            <div class="d-inline bg-danger bg-contact"
                 *ngIf="!(+item.price)">
                {{ 'lblContact' | translate }}
            </div>
            <div class="text-danger font-weight-bold price-sale"
                 *ngIf="+item.price">
                {{ +item.price_sale ? (+item.price_sale).toLocaleString('vi') :
                (+item.price).toLocaleString('vi') }} ₫
            </div>
            <div class="d-flex align-items-center">
                <span class="badge bg-danger font-weight-normal p-1 text-white mr-1 mr-md-2"
                      *ngIf="+item.percent">
                    {{ 'lblReduction' | translate }} {{ item.percent }}%
                </span>
                <span class="price-default text-muted p-1"
                      *ngIf="+item.price_sale">
                    {{ (+item.price).toLocaleString('vi') }} đ
                </span>
            </div>
        </div> -->
    </div>
</div>