// a,
// p {
//     font-size: 15px;
//     line-height: 1.2;
//     font-weight: 400;
// }

// button:focus,
// .btn:focus,
// carousel:focus {
//     outline: none !important;
//     box-shadow: none;
// }

// #contentDetail img,
// #chips-detail img {
//     max-width: 100% !important;
//     height: auto !important;
// }

// @keyframes slide-down {
//     0% {
//         -webkit-transform: translateY(-100%);
//         transform: translateY(-100%);
//     }
//     100% {
//         -webkit-transform: translateY(0);
//         transform: translateY(0);
//     }
// }

// #slide .item {
//     width: 100%;
//     height: 100%;
// }

// .owl-evaluate .owl-dots .owl-dot span {
//     width: 12px;
//     height: 8px;
//     margin: 5px 7px;
//     background: #d6d6d6;
//     display: block;
//     backface-visibility: visible;
//     -webkit-backface-visibility: visible;
//     -webkit-transition: opacity 0.2s ease;
//     transition: opacity 0.2s ease;
//     border-radius: 30px;
// }
// .owl-evaluate .owl-dots .owl-dot.active span {
//     width: 18px !important;
//     background: $colorSecondary !important;
// }

// .owl-evaluate .owl-stage {
//     padding-left: 0 !important;
//     padding-right: 0 !important;
//     margin: 10px 2px;
// }

// .col-2dot4,
// .col-sm-2dot4,
// .col-md-2dot4,
// .col-lg-2dot4,
// .col-xl-2dot4 {
//     position: relative;
//     width: 100%;
//     min-height: 1px;
//     padding-right: 15px;
//     padding-left: 15px;
// }

// .col-2dot4 {
//     -webkit-box-flex: 0;
//     -ms-flex: 0 0 20%;
//     flex: 0 0 20%;
//     max-width: 20%;
// }

// @media (min-width: 540px) {
//     .col-sm-2dot4 {
//         -webkit-box-flex: 0;
//         -ms-flex: 0 0 20%;
//         flex: 0 0 20%;
//         max-width: 20%;
//     }
// }

// @media (min-width: 720px) {
//     .col-md-2dot4 {
//         -webkit-box-flex: 0;
//         -ms-flex: 0 0 20%;
//         flex: 0 0 20%;
//         max-width: 20%;
//     }
// }

// @media (min-width: 960px) {
//     .col-lg-2dot4 {
//         -webkit-box-flex: 0;
//         -ms-flex: 0 0 20%;
//         flex: 0 0 20%;
//         max-width: 20%;
//     }
// }

@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;

        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

// .place {
//     padding: 50px 0 !important;
//     z-index: 1;
// }

// .place-top {
//     padding-top: 50px !important;
//     z-index: 1;
// }

// .title-page h2 {
//     font-size: 32px;
//     font-weight: 600;
// }

// .title-page p {
//     font-size: 18px;
// }

// .breadcrumb-item a {
//     color: #212529;
// }

// .breadcrumb .active {
//     color: var(--color-primary);
//     cursor: pointer;
// }

// .breadcrumb-item a:hover {
//     color: var(--color-primary);
//     text-decoration: none;
// }
// .breadcrumb-item + .breadcrumb-item::before {
//     color: #c1c1c1;
// }
// .map-contact iframe {
//     width: 100%;
// }
// .content-page img {
//     max-width: 100% !important;
// }
// @media (max-width: 415px) {
//     .place {
//         padding: 30px 0 !important;
//     }
//     .place-top {
//         padding-top: 30px !important;
//     }
//     .title-page h2 {
//         font-size: 25px;
//     }
// }
// .map-contact > iframe {
//     display: block;
// }

// .product {
//     .title {
//         margin-bottom: 25px !important;
//     }
//     .product-group {
//         max-width: 67%;
//         margin: 0 auto;

//         &-item {
//             margin: 4px;

//             font-size: 14px;

//             border: 1px solid whitesmoke;
//             border-radius: 1rem;

//             color: #333;
//             cursor: pointer;
//         }
//     }
//     @media (max-width: 768px) {
//         .product-group {
//             max-width: unset;
//         }
//     }

//     @media (max-width: 414px) {
//         .product-group-item {
//             width: 50%;
//             margin: 4px 0;
//         }
//     }
//     @media (max-width: 375px) {
//         .product-group-item {
//             font-size: 12px;
//         }
//     }
// }

// .productGroupActive {
//     border-color: $colorPrimary !important;

//     color: $colorPrimary !important;
//     background-color: unset;
// }

// .pagination-page.page-item {
//     &.active > .page-link {
//         border-color: $colorPrimary !important;

//         color: #fff !important;
//         background-color: $colorPrimary !important;
//     }
//     > .page-link {
//         color: #333 !important;
//     }
// }

// .page {
//     min-height: 33vh;
// }

.card-body .ng5-slider .ng5-slider-pointer {
    width: 15px;
    height: 15px;
    top: -6px;
    outline: none;
}
.card-body .ng5-slider .ng5-slider-pointer.ng5-slider-active::after {
    background-color: transparent !important;
}

// .btn-more {
//     &:hover > i {
//         transform: translateX(5px);
//     }

//     > a {
//         font-size: 15px;
//         text-decoration: underline;
//         &:hover {
//             text-decoration: none;
//         }
//     }

//     > i {
//         font-size: 12px;
//         transition: all 0.5s ease;
//     }
// }
