<div class="footer">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row footer-body py-4">
                <div class="col-md-3 col-6 pt-3 " *ngIf="support.data && support.data.length >0">
                    <h3 class="title-footer mb-3 font-weight-bold text-uppercase text-white">
                        {{ 'FEFooter.support' | translate }}
                    </h3>
                    <div class="mb-2">
                        <ul class="p-0" style="list-style: none;">
                            <li class="mb-1  d-block" *ngFor="let item of support.data">
                                <i class="fas fa-angle-right color-primary mr-1"></i>
                                <a class="footer-item" [routerLink]="['/'+ getType(item.link, item.type) ]"
                                    routerLinkActive="active-footer">
                                    {{ item.name }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-6 pt-3 " *ngIf="category.data && category.data.length >0">
                    <h3 class="title-footer mb-3 font-weight-bold text-uppercase text-white">
                        {{ 'FEFooter.category' | translate }}
                    </h3>
                    <div class="mb-2">
                        <ul class="p-0" style="list-style: none;">
                            <li class="mb-1  d-block" *ngFor="let item of category.data">
                                <i class="fas fa-angle-right color-primary mr-1"></i>
                                <a class="footer-item" [routerLink]="[  '/'+ getType(item.link, item.type)  ]"
                                    routerLinkActive="active-footer">
                                    {{ item.name }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-6 pt-3 position-relative" *ngIf="policy.data && policy.data.length >0">
                    <h3 class="title-footer mb-3 font-weight-bold text-uppercase text-white">
                        {{ 'FEFooter.policy' | translate }}
                    </h3>
                    <div class="mb-2">
                        <ul class="p-0" style="list-style: none;">
                            <li class="mb-1  d-block" *ngFor="let item of policy.data">
                                <i class="fas fa-angle-right color-primary mr-1"></i>
                                <a *ngIf="item.link.split('/')[1] != 'dang-ky-ten-mien'" class="footer-item"
                                    [routerLink]="[  '/'+ getType(item.link, item.type)  ]"
                                    routerLinkActive="active-footer">
                                    {{ item.name }}
                                </a>
                                <a *ngIf="item.link.split('/')[1] == 'dang-ky-ten-mien'" class="footer-item"
                                    href="https://chips.vn/products/domains/domain-pricing" target="_blank">
                                    {{ item.name }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-12 pt-3 pr-md-0">
                    <h3 class="title-footer mb-3 font-weight-bold text-uppercase text-white">
                        {{ 'FEFooter.contact' | translate }}
                    </h3>
                    <div class="mb-2">
                        <p class="footer-item mb-2" *ngIf="('FEHourWork' | translate)!='FEHourWork'">
                            {{ 'FEHourWork' | translate }}
                        </p>
                        <p class="footer-item mb-2" *ngIf="('FEAddress_1' | translate)!='FEAddress_1'">
                            {{ 'lblAddress' | translate }}: {{ 'FEAddress_1' | translate }}
                        </p>
                        <p class="footer-item mb-2" *ngIf="('FEAddress_2' | translate)!='FEAddress_2'">
                            {{ 'lblAddress_2' | translate }}: {{ 'FEAddress_2' | translate }}
                        </p>
                        <p class="footer-item mb-2" *ngIf="('FEAddress_3' | translate)!='FEAddress_3'">
                            {{ 'lblAddress_3' | translate }}: {{ 'FEAddress_3' | translate }}
                        </p>
                        <p class="footer-item mb-2"
                            *ngIf="('FEPhone_2' | translate)!='FEPhone_2' && ('FEPhone_2' | translate)!=''">
                            <span>
                                {{ 'lblHotline' | translate }}
                                <a href="tel:{{ 'FEPhone_2'|translate }}" style="color: #d1d3d6">
                                    {{ 'FEPhone_2'|translate }}
                                </a>
                            </span>
                        </p>
                        <p class="footer-item mb-2"
                            *ngIf="('FEPhone_1' | translate)!='FEPhone_1' && ('FEPhone_1' | translate)!=''">
                            <span>
                                {{ 'lblPhone' | translate }}
                                <a href="tel:{{ 'FEPhone_1'|translate }}" style="color: #d1d3d6">
                                    {{ 'FEPhone_1'|translate }}
                                </a>
                            </span>
                        </p>
                        <p class="footer-item mb-2"
                            *ngIf="('FEMail' | translate)!='FEMail' && ('FEMail' | translate)!=''">
                            {{ 'FEFooter.email'|translate }}
                            <a href="mailto:{{ 'FEMail'|translate }}" style="color: #d1d3d6">
                                {{ 'FEMail' | translate }}
                            </a>
                        </p>
                        <p class="footer-item mb-2" *ngIf="('FEFax' | translate)!='FEFax' && ('FEFax' | translate)!=''">
                            {{ 'FEFooter.fax'|translate }}
                            <a class="font-weight-bold" style="color: #d1d3d6">
                                {{ 'FEFax' | translate }}
                            </a>
                        </p>

                        <p class="footer-item mb-2"
                            *ngIf="('FEDelivery' | translate)!='FEDelivery' && ('FEDelivery' | translate)!=''">
                            {{ 'FEFooter.delivery'|translate }}
                            {{ 'FEDelivery' | translate }}
                        </p>
                    </div>

                    <div class="footer-social d-flex">
                        <a target="_blank" [href]="('FEHrefFacebook' | translate)"
                            *ngIf="('FEHrefFacebook' | translate)!='FEHrefFacebook'"
                            class="footer-social mr-2 rounded text-white text-center d-block">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a target="_blank" [href]="('FEHrefZalo' | translate)"
                            *ngIf="('FEHrefZalo' | translate)!='FEHrefZalo'"
                            class="footer-social mr-2 rounded text-white text-center d-block text-decoration-none">
                            Zalo
                        </a>
                        <a target="_blank" [href]="('FEHrefInstagram' | translate)"
                            *ngIf="('FEHrefInstagram' | translate)!='FEHrefInstagram'"
                            class="footer-social mx-2 rounded text-white text-center d-block">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a target="_blank" [href]="('FEHrefYoutube' | translate)"
                            *ngIf="('FEHrefYoutube' |  translate)!='FEHrefYoutube'"
                            class="footer-social ml-2 rounded text-white text-center d-block">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row footer-end align-items-center">
                <div class="col-md-6 col-lg-9 d-none d-md-block">
                    <div class="d-flex pt-3 pb-1">
                        <div class="menu" *ngFor="let item of menu.data; let i = index">
                            <a class="text-uppercase" [ngClass]="{'pl-0': i == 0 }"
                                [routerLink]="[  '/'+ getType(item.link, item.type)  ]"
                                [ngStyle]="{'border-right': i < menu.data.length - 1 ? '1px solid #515152' : ''}">
                                {{ item.name }}
                            </a>
                        </div>
                    </div>
                    <p class="text-white" style="font-size: 14px;">
                        <span> {{ 'copyright' | translate }}</span>
                        <a class="text-white " style="text-decoration: none" href="https://chips.vn" target="_blank"
                            rel="noopener noreferrer">Chips</a>
                    </p>
                </div>
                <div class="col-md-3 col-6 text-md-right">
                    <span class="text-white">
                    </span>
                </div>
                <div class="col-md-9 text-white text-center py-2 d-md-none">
                    <span> {{ 'copyright' | translate }}</span>
                    <a class="text-white" style="text-decoration: none" href="https://chips.vn" target="_blank"
                        rel="noopener noreferrer">Chips</a>
                </div>
            </div>
        </div>
    </div>
</div>