@import 'src/scss/abstracts/colors';

header {
    z-index: 10;
    position: relative;
    width: 100%;
    box-shadow: 0 0 15px 0 rgb(41 61 88 / 10%);
}
.contact a {
    color: #7a8088;
    padding: 5px 14px;
    line-height: 30px;
    font-size: 14px;
    text-decoration: none;
}

.logo-header {
    transform: translateZ(0);
}

.footer-social {
    color: #a2a2a2;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    transition: all 0.3s;
    font-size: 16px;
}

.search {
    position: absolute;
    top: 61px;
    right: 0;
    width: 300px;
    padding: 0 20px;
    background-color: #fff;
    border-top: 4px solid $colorSecondary;
    overflow: hidden;
    z-index: 3;
    box-sizing: border-box;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
}

.input-search {
    outline: none !important;
    border: 0;
    background-color: white;
    padding: 24px 25px 24px 0;
}

.input-search:focus {
    box-shadow: none;
}

.search-mobi {
    position: fixed;
    z-index: 9;
    background: #fff;
    overflow-x: hidden;
    transition: 0.3s;
    left: 0;
    top: 0;
    height: 138px;
    right: 0;
    padding-top: 75px;
    box-shadow: 0px 0px 6px #29363d38;
    border-bottom: var(--color-primary);
}

.search-input,
.search-input-mobile {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    font-size: 14px;
    font-style: italic;
    height: 48px;
    line-height: 48px;
    outline: medium none;
    padding: 0 55px 0 170px;
    width: 100%;
}

.search-input-mobile {
    padding: 0 50px 0 20px;
}

.search-icon {
    position: absolute;
    right: 20px;
    top: 33%;
    font-size: 16px;
    cursor: pointer;
}

.navbar-fixed {
    z-index: 10;
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff !important;
    animation: fadeInDown 800ms;
    box-shadow: 0px 0px 6px #29363d38;
}

.menu-mobi-hidden {
    display: none;
    transform: translate3d(-100%, 0px, 0px);
    transition-property: transform;
    transition-duration: 0.3s;
}

.menu-mobi {
    position: fixed;
    z-index: 9;
    background: #fff;
    transition: 0.3s;
    left: 0;
    top: 90px;
    bottom: 0;
    right: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.11);
}

.search-mobi {
    position: fixed;
    z-index: 9;
    background: #fff;
    overflow-x: hidden;
    transition: 0.3s;
    left: 0;
    top: 0;
    height: 170px;
    right: 0;
    padding-top: 100px;
    box-shadow: 0px 0px 6px #29363d38;
    border-bottom: var(--color-primary);
}

.menu-action .search-action i {
    font-size: 1.5rem;
}

.nav-open-btn .line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: $colorWhite;
    margin: 6px 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    height: 2px;
}

.nav-open-btn.active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.nav-open-btn.active .line:nth-child(2) {
    opacity: 0;
}

.nav-open-btn.active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 768px) {
    .search-mobi {
        height: 167px;
        padding-top: 105px;
    }
}

@media (max-width: 541px) {
    .search-mobi {
        padding-top: 99px;
        height: 153px;
    }

    .bg-icon {
        background-color: transparent;
    }

    .nav-open-btn .line {
        width: 20px;
    }

    .notification {
        bottom: -6px;
    }
    .notification::before {
        right: 108px;
    }
}

.header {
    // &--bg {
    //     background-color: $colorPrimary
    // }

    &__logo {
        // height: 69px;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    padding: 10px 0;
    text-decoration: none;
    display: block;
    text-align: right;
    border-bottom: 1px solid #dddddd;
    color: #222222;
    font-size: 12px;
}

.dropdown-content a:hover {
    color: var(--color-primary);
    background-color: whitesmoke;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-toggle::after {
    border-top: 0.3em solid rgba(0, 0, 0, 0.5) !important;
    position: absolute;
    right: 0;
    top: 22px;
}

.dropdown-item:active {
    background-color: #f5f5f5;
}
