<header class="bg-white"
        style="box-shadow: 0 0 15px 0 rgb(41 61 88 / 10%);">
    <div id="header"
         class="header--bg w-100 py-lg-3">
        <div class="container-main">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-3">
                        <a [routerLink]="'/'"
                           class="header__logo">
                            <img class="h-100 img-fluid logo-header"
                                 [src]="('company.logo' | translate)"
                                 [alt]="('company.name' | translate)" />
                        </a>
                    </div>

                    <div class="col-9">
                        <div class="d-flex align-items-center justify-content-end position-relative">
                            <app-menu class="w-100 d-flex justify-content-end"
                                      *ngIf="width > 768"></app-menu>

                            <div class="nav-item text-right ml-2 p-0">
                                <div class="cursor-pointer"
                                     style="width: 28px; font-size: 18px;"
                                     (click)="search.showSearch()">
                                    <i class="far fa-search" style="color: #d72e2b"
                                       *ngIf="!search.icon"></i>
                                    <i class="far fa-times" style="color: #d72e2b"
                                       *ngIf="search.icon"></i>
                                </div>
                                <div class="search"
                                     [ngClass]="search.icon ? 'd-block' : 'd-none'">
                                    <div>
                                        <input type="text"
                                               id="search"
                                               (keyup.enter)="search.onSearch();"
                                               #firstNameField
                                               [(ngModel)]="search.value"
                                               autocomplete="off"
                                               class="form-control input-search w-100 user-select-none"
                                               placeholder="{{ 'FESearch.title'|translate }}">
                                        <div class="position-absolute"
                                             style="top:14px; right: 15px;cursor: pointer;"
                                             (click)="search.onSearch()">
                                            <i class="far fa-search text-black-50"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="menu-action ml-4 bg-icon"
                                 *ngIf="width <= 768">
                                <button (click)="menuMobile.onMenu(!menuMobile.show)"
                                        class="btn nav-open-btn p-0"
                                        [ngClass]="{'active': menuMobile.show == false }">
                                    <span class="line line1"></span>
                                    <span class="line line2"></span>
                                    <span class="line line3"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="menu-mobi"
     class="menu-mobi menu-mobi-hidden"
     *ngIf="width <= 768">
    <div class="align-items-center justify-content-between d-flex px-3"
         style="background: var(--color-primary); border-top: 1px solid #c2dcff; border-bottom: 1px solid #c2dcff;">
        <div class="align-items-center d-flex">
            <div class="mr-3 text-white"
                 style="font-size: 45px">
                <i class="fas fa-user-circle"></i>
            </div>
            <div *ngIf="globals.CUSTOMER.check(true) == false">
                <div [routerLink]="['/dang-nhap']"
                     (click)="menuMobile.onMenu(!menuMobile.show)"
                     style="outline:none"
                     class="text-white">
                    <p class="mb-0">{{ 'lblLogin' | translate }}</p>
                    <small>{{'lblDesLogin' | translate}}</small>
                </div>
            </div>

            <div *ngIf="globals.CUSTOMER.check(true) == true">
                <div class="text-white">
                    <p class="m-0">{{ 'lblHelloUser' | translate }}
                        <span class="font-weight-bold text-white">{{ globals.CUSTOMER.get(true).name }}</span>
                    </p>
                    <small (click)="logout();menuMobile.onMenu(!menuMobile.show)">{{ 'FEbtn.logout' | translate }}
                    </small>
                </div>
            </div>
        </div>
    </div>

    <app-menu-mobile (menumobile)="menuMobile.onMenu(!menuMobile.show)"
                     *ngIf="width <= 768"></app-menu-mobile>
</div>